@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #053F5C; */
    background-color: #429EBD;
    /* background-color: #9FE7F5; */
    padding: 2vh 2vw;
}

.bncc-logo {
    aspect-ratio: 3680/1080;
    /* width: 20%; */
    transform: scale(70%);
    max-width: 150px;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: .5em .7em;

    outline: none;
    color: white;
    font-size: .98rem;

    background-color: transparent;
    border-radius: 9px;
    border: 1px solid white;
    box-shadow: 0 0 1.2px hsl(0, 0%, 80%);
    text-shadow: 0 0 .5px hsl(0, 0%, 80%);

    transition: 200ms;
    cursor: pointer;
}

.login:hover {
    box-shadow: 0 0 10px hsl(0, 0%, 80%);
    text-shadow: 0 0 3px hsl(0, 0%, 80%);
}

.login:active {
    scale: 95%;
}

.signup {
    background-color: #F27F0C;
    border: 1px solid hsla(40, 93%, 53%, 0.5);
}

.signup:hover {
    background-color: hsla(33, 100%, 50%, .96);
    /* border: 1px solid hsl(30, 100%, 50%); */
    box-shadow: 0 0 2px #F7AD19;
}

.signup:active{
    scale: 95%;
    background-color: #F27F0C;
}

.cart {
    aspect-ratio: 1/1;
    width: 2.3em;
}





footer {
    display: flex;
    justify-content: space-between;

    padding: 3vw;

    background-color: #053F5C;
    color: white;
}
footer a{
    color: white;
    width: fit-content;
}

.ftr-txt {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(183px, 1fr));
    grid-gap: 20px;
    flex-grow: 2;
}

.ftr-section {
    display: flex;
    gap: 5px;
}
.ftr-logo{
    width: 1.4em;
}
.ig {
    display: flex;
    flex-direction: column;
    padding-left: 2.1em;
}

.wa div {
    margin-top: 4px;
    padding-left: 2.1em;
}

.company {
    padding-left: 1.2em;
}

.ftr-img {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
}
.ftr-img img {
    transform: scale(70%);
    max-width: 150px;
}

/* next: footer link underline animation */