@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    /* background-color: hsla(209, 100%, 30%, 1); */
    /* background-color: #053F5C; */
    background-color: #429EBD;
    /* background-color: #9FE7F5; */
    padding: 3vh 2vw;
}

header img {
    aspect-ratio: 3680/1080;
    width: 30%;
    /* transform: scale(10%); */
    max-width: 150px;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.btn {
    padding: .9em 1.1em;

    outline: none;
    color: white;

    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0 0 1.2px hsl(0, 0%, 80%);
    text-shadow: 0 0 .5px hsl(0, 0%, 80%);
}

.signup-btn {
    background-color: #F27F0C;
    border: 1px solid #F7AD19;
}